@font-face {
    font-family: Zasline;
    src: url(Zasline.otf);
  }

body {background-color: black;font-family: Zasline;}

h1 {color: aliceblue;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */}
    